body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #444;
  height: 100%;
  width: 100%;
  margin: 0; 
  background-color: #f7f7ff; 
}

.main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: bold;
  text-align: center; 
}

.login-container {
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightcyan;
  width: 80%; 
  max-width: 400px; 
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-box {
  text-align: center; /* Center the content */
}

label {
  display: block;
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.input-container {
  position: relative;
  width: 100%;
}

input {
  margin-top: 2%;
  margin-bottom: 2%;
  width: calc(100% - 30px); 
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password-text {
  color: #666;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.forgot-password-text:hover {
  color: #cd96d8; 
}

button {
  margin-top: 5%;
  background-color: #cd96d8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #cd96d8;
}

@media screen and (max-width: 600px) {
  .login-container {
    width: 90%; 
  }
}

@media screen and (max-width: 768px) {
  h2 {
    padding-left: 0; 
  }
}
